_project_specs/n8n/workflows/personas-validator.json
{
  "updatedAt": "2026-02-20T11:59:03.275Z",
  "createdAt": "2026-02-20T11:55:54.167Z",
  "id": "aGlmWu7SPHw17eYQ",
  "name": "Persona Validator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "persona-validator",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "set-defaults",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "persona_id",
              "value": "={{ $json.body.persona_id || $json.persona_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "callback_url",
              "value": "={{ $json.body.callback_url || $json.callback_url || '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "threshold",
              "value": "={{ $json.body.threshold || $json.threshold || 7.0 }}",
              "type": "number"
            },
            {
              "id": "a4",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp || $json.timestamp || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fetch-persona",
      "name": "Fetch Persona",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, personaid, description, personaprompt, category, difficulty, psychological_profile, behaviors FROM personas WHERE id = $1::uuid LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.persona_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "prepare-llm-input",
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "persona_id",
              "value": "={{ $('Set Defaults').item.json.persona_id }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "threshold",
              "value": "={{ $('Set Defaults').item.json.threshold }}",
              "type": "number"
            },
            {
              "id": "b3",
              "name": "persona_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b4",
              "name": "persona_data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b5",
              "name": "validation_prompt",
              "value": "=You are an expert AI persona quality evaluator.\n\nEvaluate the following AI testing persona on three criteria and return a JSON object.\n\n## PERSONA TO EVALUATE\n{{ JSON.stringify($json, null, 2) }}\n\n## EVALUATION CRITERIA\n\n1. **Naturalness** (1-10): Does the persona sound like a real, believable person rather than a caricature? Consider whether the name, background, communication style, and emotional patterns feel authentic and human.\n\n2. **Coherence** (1-10): Are the demographics, behavior patterns, and goals internally consistent? Do the persona's traits, motivations, and characteristics align with each other logically?\n\n3. **Testability** (1-10): Will this persona produce meaningful differentiation in AI agent behavior during testing? Does it have specific enough characteristics to stress-test different agent capabilities?\n\n## INSTRUCTIONS\nReturn ONLY a valid JSON object with this exact structure (no markdown, no extra text):\n{\n  \"naturalness\": <integer 1-10>,\n  \"coherence\": <integer 1-10>,\n  \"testability\": <integer 1-10>,\n  \"reasoning\": \"<concise explanation of scores, max 3 sentences>\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "llm-validation",
      "name": "LLM Validation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        160,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.validation_prompt }}",
        "batching": {}
      }
    },
    {
      "id": "gemini-model",
      "name": "Gemini Flash Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        200
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "A4H7U8xkqVIIMl1g",
          "name": "Gemini Sempre Attivo"
        }
      }
    },
    {
      "id": "calculate-score",
      "name": "Calculate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Parse LLM response \u2014 strip markdown fences if present\nconst raw = $input.item.json.text || '';\nconst cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet scores;\ntry {\n  scores = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse LLM JSON response: ${e.message}. Raw: ${raw.slice(0, 200)}`);\n}\n\nconst naturalness = Number(scores.naturalness);\nconst coherence = Number(scores.coherence);\nconst testability = Number(scores.testability);\nconst reasoning = scores.reasoning || '';\n\nif (isNaN(naturalness) || isNaN(coherence) || isNaN(testability)) {\n  throw new Error(`Invalid scores: naturalness=${scores.naturalness}, coherence=${scores.coherence}, testability=${scores.testability}`);\n}\n\n// Equal weights: 1/3 each\nconst weighted_score = Math.round(((naturalness + coherence + testability) / 3) * 100) / 100;\n\nconst persona_id = $('Prepare LLM Input').item.json.persona_id;\nconst threshold = Number($('Prepare LLM Input').item.json.threshold) || 7.0;\n\nreturn [{\n  json: {\n    persona_id,\n    threshold,\n    weighted_score,\n    naturalness,\n    coherence,\n    testability,\n    reasoning,\n    passes_threshold: weighted_score >= threshold,\n    validation_details: {\n      naturalness,\n      coherence,\n      testability,\n      reasoning\n    }\n  }\n}];"
      }
    },
    {
      "id": "if-passes-threshold",
      "name": "Passes Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.passes_threshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "update-validated",
      "name": "Update Validated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE personas SET validation_status = 'validated', validation_score = $2, validation_details = $3::jsonb, updated_at = NOW() WHERE id = $1::uuid RETURNING id, name, validation_status, validation_score",
        "options": {
          "queryReplacement": "={{ $json.persona_id }},={{ $json.weighted_score }},={{ JSON.stringify($json.validation_details) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "update-rejected",
      "name": "Update Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE personas SET validation_status = 'rejected', validation_score = $2, validation_details = $3::jsonb, updated_at = NOW() WHERE id = $1::uuid RETURNING id, name, validation_status, validation_score",
        "options": {
          "queryReplacement": "={{ $json.persona_id }},={{ $json.weighted_score }},={{ JSON.stringify({ ...$json.validation_details, rejection_reason: $json.reasoning }) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "respond-validated",
      "name": "Respond Validated",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -120
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "status",
              "value": "validated",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "persona_id",
              "value": "={{ $('Calculate Score').item.json.persona_id }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "validation_score",
              "value": "={{ $('Calculate Score').item.json.weighted_score }}",
              "type": "number"
            },
            {
              "id": "r4",
              "name": "threshold",
              "value": "={{ $('Calculate Score').item.json.threshold }}",
              "type": "number"
            },
            {
              "id": "r5",
              "name": "scores",
              "value": "={{ $('Calculate Score').item.json.validation_details }}",
              "type": "object"
            },
            {
              "id": "r6",
              "name": "message",
              "value": "Persona validated successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-rejected",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        120
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "persona_id",
              "value": "={{ $('Calculate Score').item.json.persona_id }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "validation_score",
              "value": "={{ $('Calculate Score').item.json.weighted_score }}",
              "type": "number"
            },
            {
              "id": "s4",
              "name": "threshold",
              "value": "={{ $('Calculate Score').item.json.threshold }}",
              "type": "number"
            },
            {
              "id": "s5",
              "name": "scores",
              "value": "={{ $('Calculate Score').item.json.validation_details }}",
              "type": "object"
            },
            {
              "id": "s6",
              "name": "rejection_reason",
              "value": "={{ $('Calculate Score').item.json.reasoning }}",
              "type": "string"
            },
            {
              "id": "s7",
              "name": "message",
              "value": "Persona rejected: score below threshold",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Fetch Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Persona": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "LLM Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Validation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Validation": {
      "main": [
        [
          {
            "node": "Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Score": {
      "main": [
        [
          {
            "node": "Passes Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passes Threshold?": {
      "main": [
        [
          {
            "node": "Update Validated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Validated": {
      "main": [
        [
          {
            "node": "Respond Validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rejected": {
      "main": [
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7630b0a4-c77e-4f74-8055-e3d94953402a",
  "activeVersionId": "7630b0a4-c77e-4f74-8055-e3d94953402a",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-20T11:55:54.167Z",
      "createdAt": "2026-02-20T11:55:54.167Z",
      "role": "workflow:owner",
      "workflowId": "aGlmWu7SPHw17eYQ",
      "projectId": "dv3kA4Oe2sL1pWid",
      "project": {
        "updatedAt": "2025-01-10T11:02:16.487Z",
        "createdAt": "2025-01-10T11:00:49.307Z",
        "id": "dv3kA4Oe2sL1pWid",
        "name": "Niccolo Franzin <franzin.niccolo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "05899498-7d15-4204-80d5-960dcaa0d732"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-20T11:57:57.045Z",
    "createdAt": "2026-02-20T11:57:57.045Z",
    "versionId": "7630b0a4-c77e-4f74-8055-e3d94953402a",
    "workflowId": "aGlmWu7SPHw17eYQ",
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -800,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "persona-validator",
          "responseMode": "lastNode",
          "options": {}
        }
      },
      {
        "id": "set-defaults",
        "name": "Set Defaults",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -560,
          0
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "persona_id",
                "value": "={{ $json.body.persona_id || $json.persona_id }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "callback_url",
                "value": "={{ $json.body.callback_url || $json.callback_url || '' }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "threshold",
                "value": "={{ $json.body.threshold || $json.threshold || 7.0 }}",
                "type": "number"
              },
              {
                "id": "a4",
                "name": "timestamp",
                "value": "={{ $json.body.timestamp || $json.timestamp || $now }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "fetch-persona",
        "name": "Fetch Persona",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -320,
          0
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, name, personaid, description, personaprompt, category, difficulty, psychological_profile, behaviors FROM personas WHERE id = $1::uuid LIMIT 1",
          "options": {
            "queryReplacement": "={{ $json.persona_id }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "H9sQ1L8LqNecZirw",
            "name": "Voice AI Test"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "prepare-llm-input",
        "name": "Prepare LLM Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          0
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "persona_id",
                "value": "={{ $('Set Defaults').item.json.persona_id }}",
                "type": "string"
              },
              {
                "id": "b2",
                "name": "threshold",
                "value": "={{ $('Set Defaults').item.json.threshold }}",
                "type": "number"
              },
              {
                "id": "b3",
                "name": "persona_name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "b4",
                "name": "persona_data",
                "value": "={{ JSON.stringify($json) }}",
                "type": "string"
              },
              {
                "id": "b5",
                "name": "validation_prompt",
                "value": "=You are an expert AI persona quality evaluator.\n\nEvaluate the following AI testing persona on three criteria and return a JSON object.\n\n## PERSONA TO EVALUATE\n{{ JSON.stringify($json, null, 2) }}\n\n## EVALUATION CRITERIA\n\n1. **Naturalness** (1-10): Does the persona sound like a real, believable person rather than a caricature? Consider whether the name, background, communication style, and emotional patterns feel authentic and human.\n\n2. **Coherence** (1-10): Are the demographics, behavior patterns, and goals internally consistent? Do the persona's traits, motivations, and characteristics align with each other logically?\n\n3. **Testability** (1-10): Will this persona produce meaningful differentiation in AI agent behavior during testing? Does it have specific enough characteristics to stress-test different agent capabilities?\n\n## INSTRUCTIONS\nReturn ONLY a valid JSON object with this exact structure (no markdown, no extra text):\n{\n  \"naturalness\": <integer 1-10>,\n  \"coherence\": <integer 1-10>,\n  \"testability\": <integer 1-10>,\n  \"reasoning\": \"<concise explanation of scores, max 3 sentences>\"\n}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "llm-validation",
        "name": "LLM Validation",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          160,
          0
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.validation_prompt }}",
          "batching": {}
        }
      },
      {
        "id": "gemini-model",
        "name": "Gemini Flash Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          160,
          200
        ],
        "parameters": {
          "modelName": "models/gemini-2.5-flash-preview-04-17"
        },
        "credentials": {
          "googlePalmApi": {
            "id": "A4H7U8xkqVIIMl1g",
            "name": "Gemini Sempre Attivo"
          }
        }
      },
      {
        "id": "calculate-score",
        "name": "Calculate Score",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          0
        ],
        "parameters": {
          "jsCode": "// Parse LLM response \u2014 strip markdown fences if present\nconst raw = $input.item.json.text || '';\nconst cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet scores;\ntry {\n  scores = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse LLM JSON response: ${e.message}. Raw: ${raw.slice(0, 200)}`);\n}\n\nconst naturalness = Number(scores.naturalness);\nconst coherence = Number(scores.coherence);\nconst testability = Number(scores.testability);\nconst reasoning = scores.reasoning || '';\n\nif (isNaN(naturalness) || isNaN(coherence) || isNaN(testability)) {\n  throw new Error(`Invalid scores: naturalness=${scores.naturalness}, coherence=${scores.coherence}, testability=${scores.testability}`);\n}\n\n// Equal weights: 1/3 each\nconst weighted_score = Math.round(((naturalness + coherence + testability) / 3) * 100) / 100;\n\nconst persona_id = $('Prepare LLM Input').item.json.persona_id;\nconst threshold = Number($('Prepare LLM Input').item.json.threshold) || 7.0;\n\nreturn [{\n  json: {\n    persona_id,\n    threshold,\n    weighted_score,\n    naturalness,\n    coherence,\n    testability,\n    reasoning,\n    passes_threshold: weighted_score >= threshold,\n    validation_details: {\n      naturalness,\n      coherence,\n      testability,\n      reasoning\n    }\n  }\n}];"
        }
      },
      {
        "id": "if-passes-threshold",
        "name": "Passes Threshold?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          640,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond1",
                "leftValue": "={{ $json.passes_threshold }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "update-validated",
        "name": "Update Validated",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          880,
          -120
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE personas SET validation_status = 'validated', validation_score = $2, validation_details = $3::jsonb, updated_at = NOW() WHERE id = $1::uuid RETURNING id, name, validation_status, validation_score",
          "options": {
            "queryReplacement": "={{ $json.persona_id }},={{ $json.weighted_score }},={{ JSON.stringify($json.validation_details) }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "H9sQ1L8LqNecZirw",
            "name": "Voice AI Test"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "update-rejected",
        "name": "Update Rejected",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          880,
          120
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE personas SET validation_status = 'rejected', validation_score = $2, validation_details = $3::jsonb, updated_at = NOW() WHERE id = $1::uuid RETURNING id, name, validation_status, validation_score",
          "options": {
            "queryReplacement": "={{ $json.persona_id }},={{ $json.weighted_score }},={{ JSON.stringify({ ...$json.validation_details, rejection_reason: $json.reasoning }) }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "H9sQ1L8LqNecZirw",
            "name": "Voice AI Test"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "respond-validated",
        "name": "Respond Validated",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          -120
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "status",
                "value": "validated",
                "type": "string"
              },
              {
                "id": "r2",
                "name": "persona_id",
                "value": "={{ $('Calculate Score').item.json.persona_id }}",
                "type": "string"
              },
              {
                "id": "r3",
                "name": "validation_score",
                "value": "={{ $('Calculate Score').item.json.weighted_score }}",
                "type": "number"
              },
              {
                "id": "r4",
                "name": "threshold",
                "value": "={{ $('Calculate Score').item.json.threshold }}",
                "type": "number"
              },
              {
                "id": "r5",
                "name": "scores",
                "value": "={{ $('Calculate Score').item.json.validation_details }}",
                "type": "object"
              },
              {
                "id": "r6",
                "name": "message",
                "value": "Persona validated successfully",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "respond-rejected",
        "name": "Respond Rejected",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          120
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "status",
                "value": "rejected",
                "type": "string"
              },
              {
                "id": "s2",
                "name": "persona_id",
                "value": "={{ $('Calculate Score').item.json.persona_id }}",
                "type": "string"
              },
              {
                "id": "s3",
                "name": "validation_score",
                "value": "={{ $('Calculate Score').item.json.weighted_score }}",
                "type": "number"
              },
              {
                "id": "s4",
                "name": "threshold",
                "value": "={{ $('Calculate Score').item.json.threshold }}",
                "type": "number"
              },
              {
                "id": "s5",
                "name": "scores",
                "value": "={{ $('Calculate Score').item.json.validation_details }}",
                "type": "object"
              },
              {
                "id": "s6",
                "name": "rejection_reason",
                "value": "={{ $('Calculate Score').item.json.reasoning }}",
                "type": "string"
              },
              {
                "id": "s7",
                "name": "message",
                "value": "Persona rejected: score below threshold",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Set Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Defaults": {
        "main": [
          [
            {
              "node": "Fetch Persona",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Persona": {
        "main": [
          [
            {
              "node": "Prepare LLM Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare LLM Input": {
        "main": [
          [
            {
              "node": "LLM Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Flash Model": {
        "ai_languageModel": [
          [
            {
              "node": "LLM Validation",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "LLM Validation": {
        "main": [
          [
            {
              "node": "Calculate Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Score": {
        "main": [
          [
            {
              "node": "Passes Threshold?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Passes Threshold?": {
        "main": [
          [
            {
              "node": "Update Validated",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Validated": {
        "main": [
          [
            {
              "node": "Respond Validated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Rejected": {
        "main": [
          [
            {
              "node": "Respond Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Niccolo Franzin",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-20T11:59:03.401Z",
        "id": 594,
        "workflowId": "aGlmWu7SPHw17eYQ",
        "versionId": "7630b0a4-c77e-4f74-8055-e3d94953402a",
        "event": "activated",
        "userId": "05899498-7d15-4204-80d5-960dcaa0d732"
      }
    ]
  }
}
