_project_specs/n8n/workflows/prompt-optimizer.json
{
  "updatedAt": "2026-02-19T15:02:01.239Z",
  "createdAt": "2026-01-24T15:38:44.463Z",
  "id": "honcSigslEtpoVqy",
  "name": "Prompt Optimizer",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimizer",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "webhookId": "optimizer",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  tr.id as test_run_id,\n  tr.analysis_report,\n  pv.id as prompt_version_id,\n  pv.prompt_name,\n  pv.content as prompt_text,\n  pv.version,\n  pv.prompt_id\nFROM test_runs tr\nJOIN prompt_versions pv ON tr.prompt_version_id = pv.id\nWHERE tr.id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $json.body.test_run_id }}"
        }
      },
      "id": "get-context",
      "name": "Get Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.prompt_version_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-context",
      "name": "Check Context Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un esperto di prompt engineering. Ottimizza il prompt basandoti sui suggerimenti e feedback. Output il nuovo prompt COMPLETO, non solo le modifiche.\n\nPROMPT ATTUALE:\n{{ $('Get Context').item.json.prompt_text }}\n\nANALYSIS REPORT:\n{{ JSON.stringify($('Get Context').item.json.analysis_report) }}\n\nSUGGESTIONS SELEZIONATE:\n{{ JSON.stringify($('Webhook Trigger').item.json.body.selected_suggestions) }}\n\nFEEDBACK UMANO:\n{{ $('Webhook Trigger').item.json.body.human_feedback || 'Nessuno' }}\n\nGenera il nuovo prompt ottimizzato. Rispondi SOLO con il testo del nuovo prompt, niente altro.",
        "batching": {}
      },
      "id": "llm-optimize",
      "name": "LLM Optimize",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-save",
      "name": "Check Save OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Prompt Optimizer Workflow\n\n**Flusso:**\n1. Riceve test_run_id via webhook\n2. Recupera context (prompt attuale + analysis report)\n3. LLM genera prompt ottimizzato\n4. Salva come draft in prompt_versions\n5. Callback al dashboard\n\n**Error Handling:**\n- Context non trovato \u2192 callback error\n- Save fallito \u2192 callback error",
        "height": 424,
        "width": 320,
        "color": 5
      },
      "id": "sticky-note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -464
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        112
      ],
      "id": "0c728085-0c9f-4ada-8faa-b9f358f238d3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "am83txd1aTbmmhSo",
          "name": "OpenRouter OLD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "type": "string",
              "value": "success"
            },
            {
              "id": "a2",
              "name": "new_version_id",
              "type": "string",
              "value": "={{ $('Save Draft').item.json.id }}"
            },
            {
              "id": "a3",
              "name": "prompt_name",
              "type": "string",
              "value": "={{ $('Save Draft').item.json.prompt_name }}"
            },
            {
              "id": "a4",
              "name": "version",
              "type": "string",
              "value": "={{ $('Save Draft').item.json.version }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "status",
              "type": "string",
              "value": "error"
            },
            {
              "id": "b2",
              "name": "stage",
              "type": "string",
              "value": "save_draft"
            },
            {
              "id": "b3",
              "name": "message",
              "type": "string",
              "value": "Failed to save optimized prompt to database"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response-save-error",
      "name": "Response Save Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "status",
              "type": "string",
              "value": "error"
            },
            {
              "id": "c2",
              "name": "stage",
              "type": "string",
              "value": "get_context"
            },
            {
              "id": "c3",
              "name": "message",
              "type": "string",
              "value": "Test run not found or invalid test_run_id"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response-context-error",
      "name": "Response Context Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        256
      ]
    },
    {
      "id": "save-draft-v2",
      "name": "Save Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -96
      ],
      "parameters": {
        "jsCode": "const context = $('Get Context').first().json;\nconst llmText = $input.first().json.text;\nconst webhookBody = $('Webhook Trigger').first().json.body;\n\nconst supabaseUrl = 'https://dlozxirsmrbriuklgcxq.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsb3p4aXJzbXJicml1a2xnY3hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2OTE5MDksImV4cCI6MjA2NjI2NzkwOX0.SKIi4wGroLMcZ0q9VRLhTS3pUTHGq-9j3OGEB4Hf4cc';\n\nconst insertBody = {\n  prompt_name: context.prompt_name,\n  content: llmText,\n  version: context.version + '-opt',\n  status: 'draft',\n  created_from: context.prompt_version_id,\n  prompt_id: context.prompt_id || null,\n  optimization_notes: JSON.stringify({\n    selected_suggestions: webhookBody.selected_suggestions || [],\n    human_feedback: webhookBody.human_feedback || null\n  })\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${supabaseUrl}/rest/v1/prompt_versions`,\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': `Bearer ${supabaseKey}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: insertBody,\n  json: true\n});\n\nconst inserted = Array.isArray(response) ? response[0] : response;\nreturn [{ json: inserted }];"
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Check Context Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Context Found": {
      "main": [
        [
          {
            "node": "LLM Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Context Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Save OK": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Save Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Optimize",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Optimize": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft": {
      "main": [
        [
          {
            "node": "Check Save OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "EgAdQyNFrL5OS1J4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "09f07fb7-9810-4cf1-838e-16f7c51595d4",
  "activeVersionId": "09f07fb7-9810-4cf1-838e-16f7c51595d4",
  "versionCounter": 73,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-24T15:38:44.463Z",
      "createdAt": "2026-01-24T15:38:44.463Z",
      "role": "workflow:owner",
      "workflowId": "honcSigslEtpoVqy",
      "projectId": "dv3kA4Oe2sL1pWid",
      "project": {
        "updatedAt": "2025-01-10T11:02:16.487Z",
        "createdAt": "2025-01-10T11:00:49.307Z",
        "id": "dv3kA4Oe2sL1pWid",
        "name": "Niccolo Franzin <franzin.niccolo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "05899498-7d15-4204-80d5-960dcaa0d732"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-08T15:17:14.294Z",
      "createdAt": "2026-01-08T15:17:14.294Z",
      "id": "YvO2mLjuL3uCwsiO",
      "name": "Battle Test"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-19T15:02:01.243Z",
    "createdAt": "2026-02-19T15:02:01.243Z",
    "versionId": "09f07fb7-9810-4cf1-838e-16f7c51595d4",
    "workflowId": "honcSigslEtpoVqy",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "optimizer",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -16,
          0
        ],
        "webhookId": "optimizer",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  tr.id as test_run_id,\n  tr.analysis_report,\n  pv.id as prompt_version_id,\n  pv.prompt_name,\n  pv.content as prompt_text,\n  pv.version,\n  pv.prompt_id\nFROM test_runs tr\nJOIN prompt_versions pv ON tr.prompt_version_id = pv.id\nWHERE tr.id = $1::uuid",
          "options": {
            "queryReplacement": "={{ $json.body.test_run_id }}"
          }
        },
        "id": "get-context",
        "name": "Get Context",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          224,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "credentials": {
          "postgres": {
            "id": "H9sQ1L8LqNecZirw",
            "name": "Voice AI Test"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-1",
                "leftValue": "={{ $json.prompt_version_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-context",
        "name": "Check Context Found",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un esperto di prompt engineering. Ottimizza il prompt basandoti sui suggerimenti e feedback. Output il nuovo prompt COMPLETO, non solo le modifiche.\n\nPROMPT ATTUALE:\n{{ $('Get Context').item.json.prompt_text }}\n\nANALYSIS REPORT:\n{{ JSON.stringify($('Get Context').item.json.analysis_report) }}\n\nSUGGESTIONS SELEZIONATE:\n{{ JSON.stringify($('Webhook Trigger').item.json.body.selected_suggestions) }}\n\nFEEDBACK UMANO:\n{{ $('Webhook Trigger').item.json.body.human_feedback || 'Nessuno' }}\n\nGenera il nuovo prompt ottimizzato. Rispondi SOLO con il testo del nuovo prompt, niente altro.",
          "batching": {}
        },
        "id": "llm-optimize",
        "name": "LLM Optimize",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          640,
          -64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-2",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-save",
        "name": "Check Save OK",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1104,
          -96
        ]
      },
      {
        "parameters": {
          "content": "## Prompt Optimizer Workflow\n\n**Flusso:**\n1. Riceve test_run_id via webhook\n2. Recupera context (prompt attuale + analysis report)\n3. LLM genera prompt ottimizzato\n4. Salva come draft in prompt_versions\n5. Callback al dashboard\n\n**Error Handling:**\n- Context non trovato \u2192 callback error\n- Save fallito \u2192 callback error",
          "height": 424,
          "width": 320,
          "color": 5
        },
        "id": "sticky-note-1",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -48,
          -464
        ]
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          720,
          112
        ],
        "id": "0c728085-0c9f-4ada-8faa-b9f358f238d3",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "am83txd1aTbmmhSo",
            "name": "OpenRouter OLD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "status",
                "type": "string",
                "value": "success"
              },
              {
                "id": "a2",
                "name": "new_version_id",
                "type": "string",
                "value": "={{ $('Save Draft').item.json.id }}"
              },
              {
                "id": "a3",
                "name": "prompt_name",
                "type": "string",
                "value": "={{ $('Save Draft').item.json.prompt_name }}"
              },
              {
                "id": "a4",
                "name": "version",
                "type": "string",
                "value": "={{ $('Save Draft').item.json.version }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-response-success",
        "name": "Response Success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1536,
          -192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "status",
                "type": "string",
                "value": "error"
              },
              {
                "id": "b2",
                "name": "stage",
                "type": "string",
                "value": "save_draft"
              },
              {
                "id": "b3",
                "name": "message",
                "type": "string",
                "value": "Failed to save optimized prompt to database"
              }
            ]
          },
          "options": {}
        },
        "id": "set-response-save-error",
        "name": "Response Save Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1600,
          48
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c1",
                "name": "status",
                "type": "string",
                "value": "error"
              },
              {
                "id": "c2",
                "name": "stage",
                "type": "string",
                "value": "get_context"
              },
              {
                "id": "c3",
                "name": "message",
                "type": "string",
                "value": "Test run not found or invalid test_run_id"
              }
            ]
          },
          "options": {}
        },
        "id": "set-response-context-error",
        "name": "Response Context Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          736,
          256
        ]
      },
      {
        "id": "save-draft-v2",
        "name": "Save Draft",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          -96
        ],
        "parameters": {
          "jsCode": "const context = $('Get Context').first().json;\nconst llmText = $input.first().json.text;\nconst webhookBody = $('Webhook Trigger').first().json.body;\n\nconst supabaseUrl = 'https://dlozxirsmrbriuklgcxq.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsb3p4aXJzbXJicml1a2xnY3hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2OTE5MDksImV4cCI6MjA2NjI2NzkwOX0.SKIi4wGroLMcZ0q9VRLhTS3pUTHGq-9j3OGEB4Hf4cc';\n\nconst insertBody = {\n  prompt_name: context.prompt_name,\n  content: llmText,\n  version: context.version + '-opt',\n  status: 'draft',\n  created_from: context.prompt_version_id,\n  prompt_id: context.prompt_id || null,\n  optimization_notes: JSON.stringify({\n    selected_suggestions: webhookBody.selected_suggestions || [],\n    human_feedback: webhookBody.human_feedback || null\n  })\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${supabaseUrl}/rest/v1/prompt_versions`,\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': `Bearer ${supabaseKey}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: insertBody,\n  json: true\n});\n\nconst inserted = Array.isArray(response) ? response[0] : response;\nreturn [{ json: inserted }];"
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Context": {
        "main": [
          [
            {
              "node": "Check Context Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Context Found": {
        "main": [
          [
            {
              "node": "LLM Optimize",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response Context Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Save OK": {
        "main": [
          [
            {
              "node": "Response Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response Save Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "LLM Optimize",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "LLM Optimize": {
        "main": [
          [
            {
              "node": "Save Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Draft": {
        "main": [
          [
            {
              "node": "Check Save OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Niccolo Franzin",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-19T15:02:01.465Z",
        "id": 463,
        "workflowId": "honcSigslEtpoVqy",
        "versionId": "09f07fb7-9810-4cf1-838e-16f7c51595d4",
        "event": "deactivated",
        "userId": "05899498-7d15-4204-80d5-960dcaa0d732"
      },
      {
        "createdAt": "2026-02-19T15:02:01.500Z",
        "id": 464,
        "workflowId": "honcSigslEtpoVqy",
        "versionId": "09f07fb7-9810-4cf1-838e-16f7c51595d4",
        "event": "activated",
        "userId": "05899498-7d15-4204-80d5-960dcaa0d732"
      }
    ]
  }
}
