n8n workflows/Test-RUNNER-Battle.json
{
  "name": "Test RUNNER Battle",
  "id": "XmpBhcUxsRpxAYPN",
  "active": true,
  "updatedAt": "2026-01-24T19:19:13.611Z",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-48, -256],
      "id": "87dd7257-8203-4e0c-b491-9d1d1f9399eb",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1520, 0],
      "id": "63c3a1eb-a9b8-4ba4-a7c3-78406bde8d69",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z35cpvwXt7Xy4Mgi",
          "mode": "list",
          "cachedResultUrl": "/workflow/Z35cpvwXt7Xy4Mgi",
          "cachedResultName": "Test Battle Agent v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "persona_id": "={{ $('Get Validated Personas').item.json.id }}",
            "personaid": "={{ $('Get Validated Personas').item.json.personaid }}",
            "personasPrompt": "={{ $('Get Validated Personas').item.json.personaprompt }}",
            "test_run_code": "={{ $('Set Test Run').item.json.test_run_code }}",
            "test_run_id": "={{ $('Create Test Run').item.json.id }}",
            "agentPrompt": "={{ $('Set Test Run').item.json.agentPrompt }}",
            "tool_scenario_id": "={{ $('Set Test Run').item.json.tool_scenario_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "persona_id", "displayName": "persona_id", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "personaid", "displayName": "personaid", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "personasPrompt", "displayName": "personasPrompt", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "test_run_code", "displayName": "test_run_code", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "test_run_id", "displayName": "test_run_id", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "agentPrompt", "displayName": "agentPrompt", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "tool_scenario_id", "displayName": "tool_scenario_id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2128, 32],
      "id": "f243d86f-a707-4cea-bd74-62a4df4474c9",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "test_run_code", "value": "={{ 'RUN-' + $now.format('yyyyMMdd-HHmmss') }}", "type": "string"},
            {"id": "2", "name": "agentPrompt", "value": "={{ $('Get Prompt Testing').item.json.content }}", "type": "string"},
            {"id": "3", "name": "prompt_version_id", "value": "={{ $('Get Prompt Testing').item.json.id }}", "type": "string"},
            {"id": "4", "name": "prompt_name", "value": "={{ $('Get Prompt Testing').item.json.prompt_name }}", "type": "string"},
            {"id": "5", "name": "mode", "value": "={{ $('Validate Input').item.json.mode }}", "type": "string"},
            {"id": "6", "name": "tool_scenario_id", "value": "={{ $('Validate Input').item.json.tool_scenario_id || '' }}", "type": "string"},
            {"id": "7", "name": "max_iterations", "value": "={{ $('Validate Input').item.json.max_iterations }}", "type": "number"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1312, -256],
      "id": "60eb4a03-8078-426b-9336-30795c8d33db",
      "name": "Set Test Run"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO test_runs (test_run_code, prompt_version_id, mode, max_iterations, current_iteration, tool_scenario_id, test_config, llm_config, status) VALUES ('{{ $json.test_run_code }}', '{{ $json.prompt_version_id }}'::uuid, '{{ $json.mode }}', {{ $json.max_iterations }}, 1, NULLIF('{{ $json.tool_scenario_id }}', ''), '{}'::jsonb, '{\"battleLlm\": \"gpt-4.1-mini\", \"evaluatorLlm\": \"claude-sonnet-4\"}'::jsonb, 'running') RETURNING id, test_run_code",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [848, -240],
      "id": "485dd86a-b6a3-4fba-b728-a52e0555997d",
      "name": "Create Test Run",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, prompt_name, version, content, status FROM prompt_versions WHERE id = '{{ $('Validate Input').item.json.prompt_version_id }}'::uuid",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [896, -416],
      "id": "f27993ef-af24-4df1-aa24-5446cd88cbad",
      "name": "Get Prompt Testing",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.personaid, p.name, p.personaprompt, p.category, pp.priority FROM personas p JOIN prompt_personas pp ON p.id = pp.persona_id WHERE pp.prompt_version_id = '{{ $(\"Get Prompt Testing\").item.json.id }}'::uuid AND pp.is_active = true AND p.validation_status = 'validated' ORDER BY pp.priority, p.category",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1024, 0],
      "id": "9de72b67-fac6-4205-8269-ae59fcd9202a",
      "name": "Get Validated Personas",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5877058c-19fd-4f26-add4-66b3526c4a96",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, -432],
      "id": "320852a0-5aae-4738-8ba2-26d3f006f489",
      "name": "Webhook",
      "webhookId": "5877058c-19fd-4f26-add4-66b3526c4a96"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "202JEX5zm3VlrUT8",
          "mode": "list",
          "cachedResultUrl": "/workflow/202JEX5zm3VlrUT8",
          "cachedResultName": "Battles Evaluator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "test_run_id": "={{ $('Create Test Run').item.json.id }}",
            "test_run_code": "={{ $('Set Test Run').item.json.test_run_code }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "test_run_id", "displayName": "test_run_id", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "test_run_code", "displayName": "test_run_code", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1888, -288],
      "id": "4a9af6b9-c76e-4ee4-955c-466b0689deb1",
      "name": "Run Evaluator"
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook input for v2.4 LEAN\nconst input = $input.first().json;\n\n// Extract data from webhook body structure\nconst webhookBody = input.body || input;\nconst actualInput = webhookBody.prompt_version_id ? webhookBody : input;\n\n// Required fields validation\nif (!actualInput.prompt_version_id) {\n  throw new Error('Missing required field: prompt_version_id. Received: ' + JSON.stringify(input));\n}\n\n// Validate UUID format for prompt_version_id\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(actualInput.prompt_version_id)) {\n  throw new Error('Invalid prompt_version_id format: must be UUID');\n}\n\n// Validate mode (optional, defaults to 'single')\nconst validModes = ['single', 'full_cycle_with_review'];\nconst mode = actualInput.mode || 'single';\nif (!validModes.includes(mode)) {\n  throw new Error(`Invalid mode: ${mode}. Must be one of: ${validModes.join(', ')}`);\n}\n\n// Validate max_iterations (optional, defaults to 1 for single, 3 for full_cycle)\nlet maxIterations = actualInput.max_iterations;\nif (maxIterations === undefined) {\n  maxIterations = mode === 'single' ? 1 : 3;\n}\nif (typeof maxIterations !== 'number' || maxIterations < 1 || maxIterations > 10) {\n  throw new Error('max_iterations must be a number between 1 and 10');\n}\n\n// tool_scenario_id is VARCHAR (optional)\nconst toolScenarioId = actualInput.tool_scenario_id || null;\n\nreturn {\n  json: {\n    prompt_version_id: actualInput.prompt_version_id,\n    mode: mode,\n    max_iterations: maxIterations,\n    tool_scenario_id: toolScenarioId,\n    validated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "validate-input-001",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, -432]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "426ff4c2-a80b-48bf-a3f2-c728a7d88888", "name": "prompt_version_id", "value": "0717f50d-4761-42f8-8199-0e1f3dfb9141", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [256, -256],
      "id": "53c64144-75e5-4e65-ae12-7aed5d6a250a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {"__rl": true, "value": "public", "mode": "list", "cachedResultName": "public"},
        "table": {"__rl": true, "value": "prompt_versions", "mode": "list", "cachedResultName": "prompt_versions"},
        "where": {"values": [{"column": "id", "value": "={{ $json.prompt_version_id }}"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [560, -256],
      "id": "c6ec4178-e37d-44ce-b465-b050e051afee",
      "name": "get prompt from id",
      "credentials": {"postgres": {"id": "H9sQ1L8LqNecZirw", "name": "Voice AI Test"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM test_runs WHERE test_run_code = '{{ $('Set Test Run').item.json.test_run_code }}' LIMIT 1",
        "options": {}
      },
      "id": "check-abort-pg",
      "name": "Check Abort Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1712, 0],
      "alwaysOutputData": true,
      "credentials": {"postgres": {"id": "H9sQ1L8LqNecZirw", "name": "Voice AI Test"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [{"id": "1", "leftValue": "={{ $json.status }}", "rightValue": "aborted", "operator": {"type": "string", "operation": "equals"}}]
        },
        "options": {}
      },
      "id": "is-aborted-if",
      "name": "Is Aborted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1872, -16]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE test_runs SET status = 'battles_completed', last_heartbeat_at = NOW() WHERE id = '{{ $('Create Test Run').item.json.id }}'::uuid RETURNING id, status",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1680, -240],
      "id": "4d81ddc4-0566-4994-8f39-b17d9dac8ab1",
      "name": "Update testrun status",
      "credentials": {"postgres": {"id": "H9sQ1L8LqNecZirw", "name": "Voice AI Test"}}
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]},
    "Loop Over Items": {"main": [[{"node": "Update testrun status", "type": "main", "index": 0}], [{"node": "Check Abort Status", "type": "main", "index": 0}]]},
    "Execute Workflow": {"main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]},
    "Set Test Run": {"main": [[{"node": "Get Validated Personas", "type": "main", "index": 0}]]},
    "Create Test Run": {"main": [[{"node": "Set Test Run", "type": "main", "index": 0}]]},
    "Get Prompt Testing": {"main": [[{"node": "Set Test Run", "type": "main", "index": 0}]]},
    "Get Validated Personas": {"main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]},
    "Webhook": {"main": [[{"node": "Validate Input", "type": "main", "index": 0}]]},
    "Validate Input": {"main": [[{"node": "Get Prompt Testing", "type": "main", "index": 0}]]},
    "Edit Fields": {"main": [[{"node": "get prompt from id", "type": "main", "index": 0}]]},
    "get prompt from id": {"main": [[{"node": "Create Test Run", "type": "main", "index": 0}]]},
    "Check Abort Status": {"main": [[{"node": "Is Aborted?", "type": "main", "index": 0}]]},
    "Is Aborted?": {"main": [[], [{"node": "Execute Workflow", "type": "main", "index": 0}]]},
    "Update testrun status": {"main": [[{"node": "Run Evaluator", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "EgAdQyNFrL5OS1J4"
  },
  "tags": ["Battle Test", "sempre attivo", "Voice agents"]
}
