n8n workflows/Test-RUNNER-Battle.json
{
  "name": "Test RUNNER Battle",
  "id": "XmpBhcUxsRpxAYPN",
  "active": true,
  "updatedAt": "2026-01-20T09:48:57.176Z",
  "versionId": "95fb4111-1f2e-4304-bb47-ae3c352a860b",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [336, -256],
      "id": "87dd7257-8203-4e0c-b491-9d1d1f9399eb",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1312, 0],
      "id": "63c3a1eb-a9b8-4ba4-a7c3-78406bde8d69",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z35cpvwXt7Xy4Mgi",
          "mode": "list",
          "cachedResultName": "Test Battle Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "persona_id": "={{ $json.id }}",
            "personaid": "={{ $json.personaid }}",
            "personasPrompt": "={{ $json.personaprompt }}",
            "test_run_code": "={{ $('Set Test Run').item.json.test_run_code }}",
            "test_run_id": "={{ $('Create Test Run').item.json.id }}",
            "agentPrompt": "={{ $('Set Test Run').item.json.agentPrompt }}",
            "tool_scenario_id": "={{ $('Set Test Run').item.json.tool_scenario_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "persona_id",
              "displayName": "persona_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "personaid",
              "displayName": "personaid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "personasPrompt",
              "displayName": "personasPrompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "test_run_code",
              "displayName": "test_run_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "test_run_id",
              "displayName": "test_run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "agentPrompt",
              "displayName": "agentPrompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tool_scenario_id",
              "displayName": "tool_scenario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1824, 0],
      "id": "f243d86f-a707-4cea-bd74-62a4df4474c9",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "content": "Nel nodo **Get Prompt** \nInserisci nel filtro la PromptVersion che vuoi testare\n",
        "height": 80,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1120, -464],
      "typeVersion": 1,
      "id": "095eac69-6810-4fef-bc1e-85cb7a233488",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Su Execute Workflow seleziona il Test Agent con la versione che vuoi testare",
        "height": 80,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1744, -128],
      "typeVersion": 1,
      "id": "4608ec4c-dcfe-4f77-bafb-e6d69608cf41",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "test_run_code",
              "value": "={{ 'RUN-' + $now.format('yyyyMMdd-HHmmss') }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "agentPrompt",
              "value": "={{ $('Get Prompt Testing').item.json.content }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "prompt_version_id",
              "value": "={{ $('Get Prompt Testing').item.json.id }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "prompt_name",
              "value": "={{ $('Get Prompt Testing').item.json.prompt_name }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "mode",
              "value": "={{ $('Validate Input').item.json.mode }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "tool_scenario_id",
              "value": "={{ $('Validate Input').item.json.tool_scenario_id || '' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "max_iterations",
              "value": "={{ $('Validate Input').item.json.max_iterations }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1312, -256],
      "id": "60eb4a03-8078-426b-9336-30795c8d33db",
      "name": "Set Test Run"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO test_runs (test_run_code, prompt_version_id, mode, max_iterations, current_iteration, tool_scenario_id, test_config, llm_config, status) VALUES ('{{ $json.test_run_code }}', '{{ $json.prompt_version_id }}'::uuid, '{{ $json.mode }}', {{ $json.max_iterations }}, 1, NULLIF('{{ $json.tool_scenario_id }}', ''), '{}'::jsonb, '{\"battleLlm\": \"gpt-4.1-mini\", \"evaluatorLlm\": \"claude-sonnet-4\"}'::jsonb, 'running') RETURNING id, test_run_code",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [752, 0],
      "id": "485dd86a-b6a3-4fba-b728-a52e0555997d",
      "name": "Create Test Run",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, prompt_name, version, content, status FROM prompt_versions WHERE id = '{{ $('Validate Input').item.json.prompt_version_id }}'::uuid",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [896, -416],
      "id": "f27993ef-af24-4df1-aa24-5446cd88cbad",
      "name": "Get Prompt Testing",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.personaid, p.name, p.personaprompt, p.category, pp.priority FROM personas p JOIN prompt_personas pp ON p.id = pp.persona_id WHERE pp.prompt_name = '{{ $('Get Prompt Testing').item.json.prompt_name }}' AND pp.is_active = true AND p.validation_status = 'validated' ORDER BY pp.priority, p.category",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1024, 0],
      "id": "9de72b67-fac6-4205-8269-ae59fcd9202a",
      "name": "Get Validated Personas",
      "credentials": {
        "postgres": {
          "id": "H9sQ1L8LqNecZirw",
          "name": "Voice AI Test"
        }
      }
    },
    {
      "parameters": {
        "path": "5877058c-19fd-4f26-add4-66b3526c4a96",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [448, -432],
      "id": "320852a0-5aae-4738-8ba2-26d3f006f489",
      "name": "Webhook",
      "webhookId": "5877058c-19fd-4f26-add4-66b3526c4a96"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "202JEX5zm3VlrUT8",
          "mode": "list",
          "cachedResultUrl": "/workflow/202JEX5zm3VlrUT8",
          "cachedResultName": "Battles Evaluator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "test_run_id": "={{ $('Create Test Run').item.json.id }}",
            "test_run_code": "={{ $('Set Test Run').item.json.test_run_code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "test_run_id",
              "displayName": "test_run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "test_run_code",
              "displayName": "test_run_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1568, -224],
      "id": "4a9af6b9-c76e-4ee4-955c-466b0689deb1",
      "name": "Run Evaluator"
    },
    {
      "parameters": {
        "jsCode": "// Validate input for v2.4 LEAN\n// Handles both webhook (data in body) and manual trigger (data direct)\nconst rawInput = $input.first().json;\n\n// Determine input source: webhook has 'body', manual has direct fields\nconst input = rawInput.body || rawInput;\n\n// Required fields validation\nif (!input.prompt_version_id) {\n  throw new Error('Missing required field: prompt_version_id');\n}\n\n// Validate UUID format for prompt_version_id\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(input.prompt_version_id)) {\n  throw new Error('Invalid prompt_version_id format: must be UUID');\n}\n\n// Validate mode (optional, defaults to 'single')\nconst validModes = ['single', 'full_cycle_with_review'];\nconst mode = input.mode || 'single';\nif (!validModes.includes(mode)) {\n  throw new Error(`Invalid mode: ${mode}. Must be one of: ${validModes.join(', ')}`);\n}\n\n// Validate max_iterations (optional, defaults to 1 for single, 3 for full_cycle)\nlet maxIterations = input.max_iterations;\nif (maxIterations === undefined) {\n  maxIterations = mode === 'single' ? 1 : 3;\n}\nif (typeof maxIterations !== 'number' || maxIterations < 1 || maxIterations > 10) {\n  throw new Error('max_iterations must be a number between 1 and 10');\n}\n\n// tool_scenario_id is VARCHAR (optional)\nconst toolScenarioId = input.tool_scenario_id || null;\n\nreturn {\n  json: {\n    prompt_version_id: input.prompt_version_id,\n    mode: mode,\n    max_iterations: maxIterations,\n    tool_scenario_id: toolScenarioId,\n    validated_at: new Date().toISOString(),\n    source: rawInput.body ? 'webhook' : 'manual'\n  }\n};"
      },
      "id": "validate-input-001",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, -432]
    },
    {
      "parameters": {
        "jsCode": "// Check Abort - Kill Switch Point #1 (Before LLM Call)\n// Query test_runs table to check if run should be aborted\n\nconst testRunCode = $('Set Test Run').item.json.test_run_code;\n\n// Get Supabase connection from environment\nconst supabaseUrl = $env.SUPABASE_URL || 'https://dlozxirsmrbriuklgcxq.supabase.co';\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\n\nif (!supabaseKey) {\n  console.log('Warning: SUPABASE_SERVICE_KEY not set, skipping abort check');\n  return $input.all();\n}\n\ntry {\n  const response = await fetch(\n    `${supabaseUrl}/rest/v1/test_runs?test_run_code=eq.${testRunCode}&select=status,abort_requested`,\n    {\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': `Bearer ${supabaseKey}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n  \n  const data = await response.json();\n  \n  if (data && data.length > 0) {\n    const testRun = data[0];\n    \n    // Check if abort was requested\n    if (testRun.abort_requested === true || testRun.status === 'aborted') {\n      throw new Error(`Test run ${testRunCode} was aborted by user`);\n    }\n    \n    // Update heartbeat\n    await fetch(\n      `${supabaseUrl}/rest/v1/test_runs?test_run_code=eq.${testRunCode}`,\n      {\n        method: 'PATCH',\n        headers: {\n          'apikey': supabaseKey,\n          'Authorization': `Bearer ${supabaseKey}`,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        },\n        body: JSON.stringify({\n          last_heartbeat: new Date().toISOString()\n        })\n      }\n    );\n  }\n} catch (error) {\n  if (error.message.includes('aborted')) {\n    throw error;\n  }\n  console.log('Abort check failed, continuing:', error.message);\n}\n\nreturn $input.all();"
      },
      "id": "check-abort-001",
      "name": "Check Abort Before Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 0]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// CONFIGURAZIONE TEST MANUALE - Modifica questi valori\n// ═══════════════════════════════════════════════════════════════\n\nconst config = {\n  // OBBLIGATORIO: UUID del prompt da testare\n  prompt_version_id: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // Modalita test: \"single\" | \"full_cycle_with_review\"\n  mode: \"single\",\n\n  // Numero massimo iterazioni (solo per full_cycle_with_review)\n  max_iterations: 1,\n\n  // Scenario mock: \"happy_path\" | \"calendar_full\" | \"booking_fails\" | \"partial_availability\" | null\n  tool_scenario_id: \"happy_path\"\n};\n\n// ═══════════════════════════════════════════════════════════════\n// NON MODIFICARE SOTTO\n// ═══════════════════════════════════════════════════════════════\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(config.prompt_version_id)) {\n  throw new Error('prompt_version_id non valido!');\n}\n\nreturn { json: config };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, -256],
      "id": "53c64144-75e5-4e65-ae12-7aed5d6a250a",
      "name": "Manual Test Config"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Manual Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Run Evaluator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Abort Before Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Run": {
      "main": [
        [
          {
            "node": "Create Test Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Run": {
      "main": [
        [
          {
            "node": "Get Validated Personas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt Testing": {
      "main": [
        [
          {
            "node": "Set Test Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Validated Personas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Prompt Testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Abort Before Loop": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Config": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EgAdQyNFrL5OS1J4"
  },
  "tags": ["Voice agents", "sempre attivo", "Battle Test"]
}
